@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "react-datepicker/dist/react-datepicker.css";


body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

html, body {
  margin: 0;
  padding: 0;
 
  overflow-x: hidden;
}

.filter-btn {
  @apply flex items-center gap-2
  h-[45px] px-4
  bg-white border-[2px] border-black rounded-[12px]
  font-pixel text-[11px] text-black
  shadow-[0_3px_0_#000]
  hover:bg-[#FAE446] hover:scale-[0.97]
  transition-all;
}
